.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 96px;
    padding-top: 16px;
    background-color: $soft-black;
    border-top: 24px solid $primary-color;
    .footer-name {
        color: $offwhite;
        font-family: $Fuente2;
        @include font-size(36px);
    }
    .footer-lic {
        color: $offwhite;
        font-family: $Fuente2;
        @include font-size(24px);
    }
}

@include media (tablet) {
    .footer-name {
        @include font-size(20px);
    }
    .footer-lic {
        @include font-size(18px);
    }
}