.main-header {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr;
    padding-top: 20px;
    background-image: linear-gradient(8deg, $offwhite, $primary-color);
    .social-media {
        height: 100%;
        display: grid;
        &__icons {
            width: 300px;
            height: auto;
            display: flex;
            justify-items: flex-end;
            align-items: center;
            justify-content: space-between;
            justify-self: end;
            margin-right: 50px;
            span {
                color: $offwhite;
            }
        }
    }
}
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        justify-items: center;
        &__logo {
            margin-left: 50px;
            // margin-bottom;
            img {
                width: 150px;
                height: 90px;
                margin-bottom: 24px;
                @include action;
            }
        }
        &__about {
            margin-right: 24px;
            a {
                font-family: $Fuente2;
                border-bottom: 1px solid black;
                @include action;
                @include font-size(25px);
            }
        }
    }

    @include media (tablet) {
        .header-nav__about {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 50px;
            a {
                font-family: $Fuente2;
                border-bottom: 1px solid black;
                @include action;
                @include font-size(25px);
            }
        }
    }