.hero-body {
    position: fixed;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url(../assets/img/marDesktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
        width: 50%;
        text-align: center;
        margin-bottom: 12px;
        font-weight: 700;
        color: $offwhite;
    }
    &__button {
        width: 250px;
        height: 50px;
        background-color: get-opacity($brand-color, 1);
        border: none;
        border-radius: 25px;
        @include action;
        a {
        font-weight: 600;
        color: $soft-black;
        @include font-size(16px)
        }
    }
}

@include media (tablet) {
    .home-main {
        place-content: center;
        padding-top: 0;
        &__title {
            padding-top: 15px;
            margin-bottom: 150px;
        }
    }
}